@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

*::selection {
    background-color: #EB7221;
}

.overflow {
    overflow: hidden;
}

.nav-home {
    padding-top: 1rem;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-bottom: 1rem;
}

.ul-home {
    display: flex;
    list-style-type: none;
}

.ul-home img {
    width: 8rem;
    margin-left: 3rem;
}

.contacto-button {
    font-size: 12px;
    font-weight: 700;
    background: #0056D5;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 20px;
    margin-left: 80vw;
    margin-top: 0.7rem;
}

.a-contacto {
    color: #fff;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 0;
    left: -4rem;
    top: -5rem;
    gap: 2rem;
    font-size: 32px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.8);
    height: 110vh;
    opacity: 0;
    visibility: hidden;
    padding-top: 17rem;
}

.navbar-width {
    width: 108%;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none;
}

.button-cerrar {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.cerrar-menu,
.abrir-menu {
    position: relative;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
}

.cerrar-menu {
    top: -10.8rem;
    right: 4.3rem;
    font-size: 2rem;
}

.abrir-menu {
    top: 0rem;
    left: 1rem;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
}

.nav-list li a:hover {
    border-bottom: 2px solid #EB7221;
}

.background-home {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/backgrounds/background-servicios.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-modernizacion {
    height: 45vh;
    background-image: url("../img/backgrounds/modernizacion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-integracion {
    height: 45vh;
    background-image: url("../img/backgrounds/integracion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background-automatizacion {
    height: 45vh;
    background-image: url("../img/backgrounds/automatizacion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-dark {
    color: #000;
    position: relative;
    top: 0.25rem;
}

.title-home {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
}

.title-home h1 {
    transform: translateY(9rem);
    position: relative;
    margin-left: 25rem;
    font-weight: 400;
}

.metodo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.metodo img {
    width: 70%;
}

.title-metodo {
    color: #EB7221;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-bottom: 3rem;
}

.conoce {
    background-color: #EB7221;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.title-conoce {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 5rem;
}

.card-conoce {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 12%;
}

.img-conoce {
    width: 50%;
    transition: transform 0.3s;
}

.img-conoce:hover {
    transform: scale(1.02)
}

.conoce-button {
    position: relative;
    top: 16rem;
    right: 14%;
}

.conoce-mas {
    width: 70%;
    z-index: 1;
}

.marcas-title {
    color: #909090;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.marcas-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    gap: 10rem;
    margin-left: -2rem;
}

.marcas-servicios img {
    width: 8%;
}

#aws {
    width: 4%;
}

#ibm {
    width: 6%;
}

#red {
    width: 10%;
}

#wso2 {
    width: 7%;
}

#nexsys {
    width: 9%;
}

.servicios-img {
    width: 100%;
    margin-top: 1rem;
}

.servicios-autor {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.servicios-autor img {
    margin-left: 25%;
}

.autor-text h4 {
    color: #EB7221;
    font-size: 1.8rem;
    font-weight: 500;
    width: 60%;
    margin-bottom: 2rem;
}

.autor-text h5 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.autor-text p {
    font-weight: 300;
}

.recursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.recursos-text h4 {
    font-size: 30px;
    font-weight: 700;
    color: #EB7221;
    margin-bottom: 2rem;
}

.recursos p {
    font-size: 30px;
    width: 35vw;
}

.servicios-hr {
    width: 20%;
    height: 2px;
    margin-top: 3vh;
    border: solid 2px #EB7221;
}

.servicios-title {
    color: #EB7221;
    margin-left: 20%;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5rem;
}

.servicios-desplegables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.servicios-autor {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f8f8;
}

.desplegable {
    background-color: #EB7221;
    width: 60%;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(182, 182, 182);
    margin-bottom: 2rem;
    cursor: pointer;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.texto {
    padding-top: 2rem;
    color: #fff;
    font-size: 25px;
}

.cuando {
    background-color: #484848;
    padding-bottom: 10rem;
    position: relative;
    margin-top: 5rem;
}

.cuando-img {
    position: absolute;
    margin-top: 10%;
}

.cuando-img-bg {
    display: flex;
    justify-content: flex-end;
}

.cuando h3 {
    margin-left: 20%;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.cuando p {
    margin-left: 20%;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 2rem;
    width: 50%;
    margin-top: 2rem;
}

.cuando hr {
    border: solid 1px #EB7221;
    width: 70%;
    margin-left: 15%;
}

.volver {
    display: flex;
    justify-content: center;
    background-color: #EB7221;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.volver a {
    color: #fff;
    border: solid 1px #fff;
    padding: 0.5rem 2rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 11px;
    border-radius: 5rem;
}

.bgc-footer {
    background-color: #000;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-right: 30rem;
}

.img-footer {
    height: 3rem;
}

.title-footer {
    color: #fff;
    font-size: 11px;
}

.p-footer {
    color: #909090;
    font-size: 11px;
    margin-top: 0.5rem;
    text-decoration: none;
}

.contacto-footer {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    position: relative;
    font-weight: 700;
    top: -5px;
}

.img-redes {
    width: 35%;
}


.contacto-footer:hover {
    color: #dfdfdf;
}

.p-footer:hover {
    color: #dfdfdf;
}

.copyright-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.light {
    font-weight: 400;
}

.on-mobile {
    display: none;
}

@media (max-width:1600px) {
    
    .nav-list {
        padding-top: 10rem;
    }

    .navbar-width {
        width: 108%;
        height: 120vh;
    }

    .contacto-button {
        font-size: 12px;
        font-weight: 700;
        background: #0056D5;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        border-radius: 20px;
        margin-left: 72vw;
    }

    .cerrar-menu {
    top: -3.8rem;
    right: 1.5rem;
    font-size: 2rem;
}

    .background-integracion {
        height: 42vh;
        width: 100%;
    }

    .title-home h1 {
        transform: translateY(15vh);
        margin-left: 20%;
    }

    .title-home {
        font-size: 1.5rem;
    }

    .metodo {
        margin-left: 0;
    }

    .metodo img {
        width: 80%;
    }

    .title-metodo {
        font-size: 2rem;
    }

    .title-conoce {
        font-size: 2.5rem;
    }

    .img-conoce {
        width: 60%;
        margin-left: 0;
    }

    .conoce-button {
        top: 14rem;
        right: 16%;
        width: 15%;
    }

    .recursos img {
        width: 5%;
    }

    .recursos-text p {
        font-size: 1.3rem;
        width: 40vw;
    }

    .recursos-text h4 {
        font-size: 1.5rem;
    }

    .servicios-title {
        font-size: 2rem;
    }

    .autor-text h4 {
        color: #EB7221;
        font-size: 1.5rem;
        font-weight: 500;
        width: 80%;
        margin-bottom: 2rem;
    }

    .autor-text p {
        font-size: 0.8rem;
    }

    .servicios-autor img {
        margin-left: 20%;
        width: 15%;
    }

    .titulo {
        font-size: 1rem;
    }

    .texto {
        font-size: 1rem;
    }

    .cuando h3 {
        font-size: 2rem;
    }

    .cuando p {
        font-size: 1.2rem;
    }

    .cuando hr {
        width: 60%;
        margin-left: 17%;
    }

    .marcas-servicios {
        gap: 8rem;
    }

    .img-footer {
        height: 2rem;
    }

    .footer {
        padding-right: 20%;
    }
}

@media (max-width:768px) {
    .nav-home {
        background-color: #000;
    }

    .background-modernizacion {
        height: 35vh;
        background-image: url("../img/backgrounds/modernizacion-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .background-integracion {
        height: 35vh;
        background-image: url("../img/backgrounds/integracion-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .background-automatizacion {
        height: 35vh;
        background-image: url("../img/backgrounds/automatizacion-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .background-home {
        height: 40vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/backgrounds/background-servicios-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav-list {
        padding-top: 15rem;
        padding-left: 1.5rem;
        height: 120vh;
    }

    .navbar-width {
        width: 120%;
    }

    .contacto-button {
        font-size: 12px;
        font-weight: 700;
        background: #0056D5;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        border-radius: 20px;
        margin-left: 12vw;
    }

    .cerrar-menu {
        top: -8.75rem;
        left: 1.6rem;
        font-size: 2rem;
    }
    .title-home h1 {
        transform: translateY(21vh);
        left: -3rem;
        width: 90%;
    }

    .title-home {
        font-size: 1rem;
    }

    .hidden-mobile {
        display: none;
    }

    .on-mobile {
        display: block;
    }

    .metodo img {
        width: 100%;
    }

    .title-metodo {
        width: 70%;
        font-size: 1.2rem;
    }

    .title-metodo-div {
        display: flex;
        justify-content: center;
    }

    .conoce {
        padding-top: 3rem;
    }

    .title-conoce {
        font-size: 1.5rem;
        width: 80%;
        text-align: left;
        margin-left: 10%;
        padding-bottom: 3rem;
    }

    .card-conoce {
        margin-left: 0;
        padding-left: 1rem;
    }

    .img-conoce-mobile {
        width: 100%;
        z-index: 0;
    }

    .conoce-button {
        top: 9rem;
        right: 35%;
    }

    .conoce-mas {
        width: 650%;
    }

    .marcas-title {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .marcas-servicios {
        gap: 2rem;
        margin-left: 0;
    }

    #aws {
        width: 8%;
    }
    
    #ibm {
        width: 10%;
    }
    
    #red {
        width: 17%;
    }
    
    #wso2 {
        width: 12%;
    }
    
    #nexsys {
        width: 17%;
    }

    .recursos img {
        width: 20%;
    }

    .recursos-text p {
        font-size: 1.2rem;
        width: 80%;
        margin-left: 10%;
    }

    .recursos h4 {
        margin-left: 10%;
    }

    .servicios-hr {
        width: 40%;
        margin-left: 10%;
    }

    .autor-text h4 {
        font-size: 1.5rem;
        width: 100%;
    }

    .autor-mobile {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-left: 0%;
    }

    .autor-mobile img {
        width: 40%;
    }

    .servicios-autor img {
        margin-left: 0;
    }

    .autor-mobile-text h5 {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .autor-mobile-text p {
        width: 100%;
    }

    .desplegable {
        width: 80%;
    }

    .cuando h3 {
        margin-left: 10%;
        font-size: 1.5rem;
    }

    .cuando p {
        margin-left: 10%;
        width: 80%;
    }

    .cuando hr {
        margin-left: 10%;
    }

    .exi-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-mobile {
        width: 45%;
        margin-left: 40%;
    }

    .p-footer {
        margin-bottom: 3rem;
        margin-top: -2rem;
    }
}