@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

*::selection {
    background-color: #EB7221;
}

.overflow {
    overflow: hidden;
}

.nav-home {
    padding-top: 1rem;
    margin-left: 0rem;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-bottom: 1rem;
}

.ul-home {
    display: flex;
    list-style-type: none;
}

.ul-home img {
    width: 8rem;
    margin-left: 3rem;
}

.background-home {
    position: absolute;
}

.contacto-button {
    font-size: 12px;
    font-weight: 700;
    background: #0056D5;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 20px;
    margin-left: 80vw;
    margin-top: 0.7rem;
}

.a-contacto {
    color: #fff;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    right: 0;
    left: -4rem;
    top: -5rem;
    gap: 2rem;
    font-size: 32px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.8);
    height: 110vh;
    opacity: 0;
    visibility: hidden;
    padding-top: 17rem;
}

.navbar-width {
    width: 104%;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.hidden {
    display: none;
}

.button-cerrar {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.cerrar-menu,
.abrir-menu {
    position: relative;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
}

.cerrar-menu {
    top: -10.8rem;
    right: -0.5rem;
    font-size: 2rem;
}

.abrir-menu {
    top: 0rem;
    left: 1rem;
}


.nav-list li a {
    color: #fff;
    text-decoration: none;
}

.nav-list li a:hover {
    border-bottom: 2px solid #EB7221;
}

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: -1;
    height: 70vh;
}

.video-background {
    width: 100%;
    height: 50vh;
    object-fit: cover;  
}

.title-home {
    color: #fff;
    font-size: 1.7rem;
    position: relative;
}

.title-home h1 {
    transform: translateY(18rem);
    left: 25rem;
    position: relative;
    font-weight: 300;
    text-shadow: 0 0 8px #292929;
}

.bgc-main {
    background-color: #E5E5E5;
}

.p1-home {
    padding-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 21%;
}

.p1-home p {
    font-size: 30px;
    width: 50vw;
}

.servicios-home {
    background-color: #EB7221;
}

.title-servicios-home {
    font-weight: 700;
    color: #fff;
    font-size: 42px;
    padding-top: 4rem;
    margin-left: 21%;
}

.p-servicios-home {
    font-size: 30px;
    width: 50vw;
    margin-left: 21%;
    margin-top: 4rem;
    margin-bottom: 8rem;
    color: #fff;
}

.servicios-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card {
    background: #fff;
    padding: 4rem;
    font-size: 32px;
    text-align: center;
    border-radius: 30px;
    color: #424243;
    margin-bottom: 10rem;
    transition: transform 0.3s;
}

.card-integracion {
    padding: 4rem 5.5rem 4rem 5.5rem;
}

.card:hover {
    transform: scale(1.02);
}

.card-title-padding {
    padding-bottom: 2rem;
}

.card-img {
    margin-bottom: 3rem;
}

.card-img2 {
    margin-bottom: 4rem;
}

.a-card {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background: #0056D5;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 20px;
    font-weight: 700;
}

.slider {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .casos-home-sancor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/backgrounds/sancor.png");
    height: 60vh;
    background-size: cover;
    z-index: 0;
  }

  .casos-home-pampa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/backgrounds/pampa.png");
    height: 60vh;
    background-size: cover;
    z-index: 0;
  }

  .casos-home-sancor,
  .casos-home-pampa {
    flex: 1;
    display: inline-block;
    width: 50%;
  }

  .casos-home-pampa {
    display: none;
  }

  .mt {
    margin-top: 5rem;
  }

.title-casos {
    font-weight: 700;
    font-size: 32px;
    margin-left: 21%;
    padding-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
}

.text-casos {
    color: #fff;
    font-size: 25px;
    margin-left: 21%;
    width: 30vw;
    margin-bottom: 1.5rem;
}

.author-casos {
    color: #dfdfdf;
    font-size: 12px;
    margin-left: 21%;
    margin-bottom: 5rem;
}

.button-casos {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    background: #0056D5;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 21%;
}

.mb {
    margin-bottom: 5rem;
}

.title-novedades {
    color: #EB7221;
    font-weight: 700;
    font-size: 42px;
    margin-left: 21%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cards-novedades {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card-nov {
    height: 28rem;
    width: 17.6rem;
    background-color: #fff;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 3px 5px #999;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-nov:hover {
    transform: scale(1.02);
}

.date-card-nov {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 11px;
}

.title-card-nov {
    color: #484848;
    font-size: 16px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.p-card-nov {
    color: #484848;
    font-size: 12px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.notas-nov {
    display: flex;
    justify-content: center;
}

.button-novedades {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    background: #0056D5;
    padding: 0.7rem 2rem 0.7rem 2rem;
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 5rem;
}

.marcas-title {
    color: #909090;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5rem;
}

.viewport {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1rem;
}

.marcas-home {
    display: inline-block;
    animation: slideLeft 160s linear infinite;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

.marcas-home img {
    display: inline-block;
    height: auto;
    width: 100%;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-1500%);
    }
}

.bgc-footer {
    background-color: #000;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-right: 30%;
}

.img-footer {
    height: 3rem;
}

.title-footer {
    color: #fff;
    font-size: 11px;
}

.contacto-footer {
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    position: relative;
    font-weight: 700;
    top: -5px;
}

.img-redes {
    width: 35%;
}

.contacto-footer:hover {
    color: #dfdfdf;
}

.p-footer {
    color: #909090;
    font-size: 11px;
    margin-top: 0.5rem;
    text-decoration: none;
}

.p-footer:hover {
    color: #dfdfdf;
}

.copyright-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.light {
    font-weight: 300;
}

.on-mobile {
    display: none;
}

.on-mobile-card {
    display: none;
}

@media (max-width:1600px) {

    .nav-list {
        padding-top: 10rem;
        height: 120vh;
    }

    .navbar-width {
        width: 108%;
    }

    .contacto-button {
        font-size: 12px;
        font-weight: 700;
        background: #0056D5;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        border-radius: 20px;
        margin-left: 72vw;
    }

    .cerrar-menu {
    top: -3.75rem;
    left: 0rem;
    font-size: 2rem;
}

.marcas-home {
    display: inline-block;
    animation: slideLeft 180s linear infinite;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

    .title-home h1 {
        transform: translateY(30vh);
        left: 17rem;
    }

    .title-home {
        font-size: 20px;
    }

    .p1-home p {
        width: 60vw;
        font-size: 1.5rem;
    }

    .p1-home {
        margin-right: 0;
    }

    .p-servicios-home {
        width: 60vw;
        font-size: 1.5rem;
    }

    .servicios-cards {
        gap: 2rem;
    }

    .text-casos {
        width: 50vw;
        font-size: 1.5rem;
    }

    .casos-home-pampa,
    .casos-home-sancor {
        height: 65vh;
    }

    .marcas-home img {
        display: inline-block;
        height: auto;
        width: 100%;
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(0%);
        }
    
        100% {
            transform: translateX(-1400%);
        }
    }

    .hidden-responsive {
        display: none;
    }

    .on-mobile {
        display: none;
    }

    .img-footer {
        height: 2rem;
    }

    .footer {
        padding-right: 20%;
    }
}

@media (max-width:768px) {

    .nav-home {
        background: #000;
    }

    .nav-list {
        padding-top: 15rem;
        padding-left: 1.5rem;
        height: 120vh;
    }

    .navbar-width {
        width: 120%;
    }

    .contacto-button {
        font-size: 12px;
        font-weight: 700;
        background: #0056D5;
        padding: 0.3rem 1.5rem 0.3rem 1.5rem;
        border-radius: 20px;
        margin-left: 12vw;
    }

    .cerrar-menu {
        top: -8.75rem;
        left: 1.4rem;
        font-size: 2rem;
    }

    .video-container {
        width: 100%;
        overflow: hidden;
        top: 0rem;
        z-index: -1;
        height: 65vh;
    }

    .title-home h1 {
        transform: translateY(24vh);
        left: 2rem;
        width: 80%;
    }

    .title-home {
        font-size: 1.1rem;
    }

    .p1-home p {
        width: 90%;
    }

    .p1-home {
        margin-left: 10%;
    }

    .title-servicios-home {
        margin-left: 10%;
        margin-bottom: 20%;
    }
    
    .servicios-home {
        padding-bottom: 5rem;
    }

    .title-servicios-home {
        margin-bottom: 3rem;
    }

    .servicios-cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .card-nov {
        height: 28rem;
        width: 17.6rem;
        background-color: #fff;
        margin-bottom: 3rem;
        border-radius: 5px;
        box-shadow: 0 3px 5px #999;
        cursor: pointer;
        transition: none;
        margin-left: 1.2rem;
        transition: transform 0s all;
        transform: scale(0.9);
    }

    .card-nov:hover {
        transform: scale(0.9);
    }

    .carousel-container {
        position: relative;
        overflow: hidden;
        width: 80%;
        margin: 50px auto;
    }
    
    .carousel-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-slide {
        min-width: 100%;
    }
    
    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }
    
    .carousel-prev {
        left: 0;
    }
    
    .carousel-next {
        right: 0;
    }
    
    .card {
        display: flex;
        align-items: center;
        background: #fff;
        padding: 0rem;
        margin: 1rem;
        font-size: 15px;
        text-align: center;
        border-radius: 15px;
        color: #424243;
        margin-bottom: 0rem;
        transition: none;
        padding: 1rem 2rem 1rem 2rem;
    }
    
    .card-title-padding {
        padding-bottom: 1.5rem;
    }

    .card-text-mobile {
        text-align: left;
    }
    
    .card-img {
        margin-bottom: 0rem;
        width: 100%;
        margin-left: 0;
    }

    .notas-nov {
        display: flex;
        margin-top: 5rem;
    }
    
    .img-button {
        width: 80%;
    }

    .hidden-mobile {
        display: none;
    }

    .casos-flex {
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    .img-casos {
        width: 90%;
    }

    .title-casos {
        font-size: 1.8rem;
        margin-top: -2rem;
        margin-left: 3rem;
    }

    .casos-home-sancor {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/backgrounds/sancor-mobile.png");
        height: 23vh;
        background-size: cover;
        z-index: 0;
      }
    
      .casos-home-pampa {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/backgrounds/pampa-mobile.png");
        height: 23vh;
        background-size: cover;
        z-index: 0;
      }

      .title-novedades {
        margin-left: 10%;
        margin-top: 3rem;
        margin-bottom: -1rem;
      }

      .button-novedades {
        margin-top: -5rem;
      }

      .marcas-mobile {
        display: flex;
        justify-content: center;
      }

      .marcas-title {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-top: 3rem;
      }

      .marcas-home img {
        width: 300%;
        margin-left: -5rem;
      }

      .marcas-home {
        animation: slideLeft 70s linear infinite;
      }

      @keyframes slideLeft {
        0% {
            transform: translateX(0%);
        }
    
        100% {
            transform: translateX(-3500%);
        }

    }

    .exi-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-footer {
        margin-left: 100%;
    }

    .logo-mobile {
        width: 45%;
        margin-left: 40%;
    }

    .p-footer {
        margin-bottom: 3rem;
    }

    .on-mobile {
        display: block;
    }

    .on-mobile-card {
        display: flex;
    }
}